# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Generated data
data/*
!data/.gitkeep

# Media
*.mp4
*.avi
*.mov
*.mkv
*.wav
*.mp3

# ML models
*.pt
*.pth
*.onnx
models/

# Qdrant local storage
backend/qdrant_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

data/uploads/*
data/audio/*
qdrant_data/
__pycache__/
*.pyc
node_modules/


firebase-key.json

.env
.venv/
firebase-key.json
data/uploads/*
data/audio/*
data/transcripts/*
qdrant_data/
backend/qdrant_data/
node_modules/
dist/
.env
frontend/.env
firebase-key.json.json
